.form{
    margin: 20px 30%;
    border: 1px solid rgb(255, 252, 252);
    border-radius: 20px;
    box-shadow: 3px 3px 5px 3px rgb(208, 205, 205);
}
.form Form{
    padding: 40px;
}
.background{

}